@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Início", "Index", "Home")
@Html.ActionLink("Sobre", "About", "Home")
@Html.ActionLink("Contato", "Contact", "Home")

<h2>Curso AspNet MVC</h2>
<p>Curso com Wilson Lima</p>

<br />
<br />

<p>
    @ViewData["PessoaId"];
    @ViewData["Nome"];
    @ViewData["Tipo"];
</p>